.red-square{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-bottom: 30px;
}

.button{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: black;
    border-radius: 20%;
    color: white;
}

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin-top: 10px;
}


/* Базовые стили */
.heart {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 175px;
    margin-left: 120px;
    background-color: red;
    box-shadow: -1px 0 2px #444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    /* Определяем угол наклона */
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}
/* Формируем правую часть */
.heart:before {
    position: absolute;
    width: 175px;
    height: 100px;
    left: 0;
    bottom: 0;
    content: "";
    background-color: red;
    box-shadow: 0px 3px 3px #444444;
    -webkit-border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 0 50px 50px 0;
}
/* Убираем тень при наведении */
.heart:hover:before, .heart:hover{
    box-shadow:none;
}

.black{
    width: 200px;
    height: 300px;
    background-color: black;
}

.overlay{
    display: inline-block;
    padding: 30px;
    background-color: yellow;
}

.link {
    margin: 30px;
}

